<div class="card">
    <div class="card-header">
      GESTION DE SECTORES
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="idnombre" class="form-label">Nombre</label>
                <input name="nombre" type="text" class="form-control" id="idnombre"
                [(ngModel)]="sector.nombre" >
              </div>
              <div class="mb-3">
                <label for="idfuncion" class="form-label">Funcion</label>
                <textarea name="funcion" class="form-control" id="idfuncion" rows="3"
                [(ngModel)]="sector.funcion" ></textarea>
              </div>
              <div class="mb-3">
                <label for="idemail" class="form-label">Email</label>
                <input name="email" type="email" class="form-control" id="idemail"
                [(ngModel)]="sector.email"  >
              </div>
              <div class="mb-3">
                <label for="idresponsable" class="form-label">Responsable</label>
                <select class="form-select" name="responsable" [(ngModel)]="sector.responsable" >
           
                  <option *ngFor="let agente of agentes" [ngValue]="agente" >{{agente.apellido}}, {{agente.nombre}}</option>
                  <!-- si bien nosotros mostramos apellido y nombre estamos guardando todo el elemnto agente a sector.responsable -->
                 
                </select>
              </div>

              <button type="button" class="btn btn-primary" (click)="AgregarSector()">Guardar</button>              
              <button type="button" class="btn btn-primary" (click)="ActualizarSector()">Actualizar</button>              

        </form>
    </div>
</div>
