<!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" >MiApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['products']">Listado de Productos</a></li>
            <li><a class="dropdown-item" [routerLink]="['products/new']">Formulario de Productos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/products/featured']">Productos Destacados</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Transacciones
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['transactions']">Transacciones</a></li>
            <li><a class="dropdown-item" [routerLink]="['transactions/new']">Nueva Transaccion</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['transactions/email']">Transacciones por cliente</a></li>
            <li><a class="dropdown-item" [routerLink]="['transactions/currency']">Transacciones por divisas</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tickets
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['ticket']">Listado</a></li>
            <li><a class="dropdown-item" [routerLink]="['ticket-form', '0']">Agregar Ticket</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['espectador-create']">Crear Espectador</a></li>
            <li><a class="dropdown-item" [routerLink]="['espectador-list']">Lista de Espectadores</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
