<div class="container mt-5 mb-5">
  <div class="d-flex justify-content-center">
      <h4>Formulario de ticket</h4>
  </div>
  <form>
      <div class="mb-3">
          <label for="precio" class="form-label">Precio</label>
          <input type="number" class="form-control" id="precio" name="precio" [(ngModel)]="ticket.precioTicket">
      </div>
      <!--<div class="mb-3">
          <label for="categoria" class="form-label">Categoria Espectador</label>
          <input type="text" class="form-control" id="categoria" name="categoria" [(ngModel)]="ticket.categoriaEspectador">
      </div>-->
      <div class="mb-3">
          <label for="categoria" class="form-label">Categoria Espectador</label>
          <select class="form-select" name="categoria" id="categoria" [(ngModel)]="ticket.categoriaEspectador">
              <option value="l">Local</option>
              <option value="e">Extranjero</option>
          </select>
      </div>
      <!--Cuando uso date para la fecha cuando se carga el formulario de la modificacion no se muestra la fecha-->
      <div class="mb-3">
          <label for="fechaCompra" class="form-label">Fecha Compra</label>
          <input type="text" class="form-control" id="fechaCompra" name="fechaCompra" [(ngModel)]="ticket.fechaCompra">
      </div>
      <div class="mb-3">
          <label for="espectador" class="form-label">Espectador</label>
          <select class="form-select" name="espectador" id="espectador" [(ngModel)]="ticket.espectador">
              <option *ngFor="let e of espectadores" [ngValue]="e">{{e.apellido}},{{e.nombre}}</option>
          </select>
      </div>
      <div class="mt-5">
          <button *ngIf="accion=='new'" type="submit" class="btn btn-info" (click)="registrarTicket()">Registrar</button>
          <button *ngIf="accion=='update'" type="submit" class="btn btn-info"
              (click)="actualizarTicket()">Actualizar</button>

      </div>

  </form>
</div>
